#home {
  background-image: url("http://localhost/agri-health/assets/images/cow-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;

  .container {
    padding: 6rem;

    .row {

      .cow {

      }
    }
  }
}

#stats {
  padding: 5rem;
  background-color: #25721E;
  color: #fff;

  .container {

    .stat {
      font-size: 70px;
    }
  }
}

#space{
  padding: 3rem;
  img{
    max-width: 250px;
  }
}