
#home {
  
  .container {
    

    .row {

      .cow {

      }
    }
  }
}

#stats {

  background-color: #25721E;
  color: #fff;

  .container {
    .stat {
      font-size: 70px;
    }
  }
}

#space{
  padding: 3rem;
  img{
    max-width: 250px;
  }
}