h1 {
  font-family: "Encode Sans Expanded", sans-serif;
}

#stats {
  background-color: #25721E;
  color: #fff;
}
#stats .container .stat {
  font-size: 70px;
}

#space {
  padding: 3rem;
}
#space img {
  max-width: 250px;
}
